---
---

@import "{{ site.theme }}";

header{
  position: fixed;
  top: 0;
  margin-left: -500px;
  background-color: white;
  width: 100%;
  height: 50px;
}

nav {
  background: red;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: flex-end;
}

.header-title{
  font-size: 2em;
  font-weight: bold;
}

ul.menu {
  background: orange;
}

.menu-item{
  background: yellow;
  width: 100%;
  list-style: none;
}
  

h1{
 color: white;
}
